<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form action="/product/edit/{{produto.id}}" method="POST">
        <input type="text" name="nome" value="{{produto.nome}}" required>
        <input type="number" name="preco" value="{{produto.preco}}" required>
        <textarea name="descricao" required>{{produto.descricao}}</textarea>
        <button type="submit">Atualizar Produto</button>
    </form>
    <a href="/">Voltar para a lista de produtos</a>
</body>
</html>
